@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');

/*  ======
    global
    ====== */

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 12px;
    font-family: 'Spartan', sans-serif;
    color: hsl(0, 0%, 0%);
}

body {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2.85rem;
}

h2 {
    margin-top: 0.35rem;
    margin-bottom: 0.35rem;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
}

p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: hsl(0, 0%, 63%);
}

img {
    max-width: 40rem;
}

/*  =========
    structure
    ========= */

/*header*/
.overlay {
    visibility: hidden;
    opacity: 0%;
    position: fixed;
    z-index: 0;
    top: 9.25rem;
    width: 100vw;
    min-width: 25rem;
    max-width: 40rem;
    height: calc(100vh - 9.25rem);
    background-color: hsla(0, 0%, 27%, 0.6);
    transition: all 300ms ease-in-out;
}

.header {
    position: absolute;
    z-index: 150;
    width: 100vw;
    min-width: 25rem;
    max-width: 40rem;
    height: 9.25rem;
    transition: all 300ms ease-in-out;
}

.header__menu {
    position: absolute;
    top: 50%;
    left: 9.33%;
    transform: translate(-50%, -50%);
}

.header__menu span {
    display: block;
    width: 20px;
    height: 2px;
    background-color: hsl(0, 0%, 100%);
    transition: all 300ms ease-in-out;
    transform-origin: 1.5px;
}

.header__menu span:not(:last-child) {
    margin-bottom: 4px;
}

.header__logo {
    visibility: visible;
    opacity: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    transition: all 300ms ease-in-out;
}

.header__links {
    visibility: hidden;
    position: absolute;
    width: 65%;
    top: 50%;
    right: 40%;
    transform: translate(50%, -50%);
    display: flex;
    justify-content: space-between;
}

.header__link {
    text-decoration: none;
    font-weight: 700;
    font-size: 1.1rem;
    color: hsl(0, 0%, 0%);
    opacity: 0%;
    transition: all 300ms ease-in-out;
    
}

.header__link:hover {
    color: hsl(0, 0%, 40%);
}

/* header open */
.header.open .overlay {
    visibility: visible;
    opacity: 100%;
}

.header.open {
    position: fixed;
    background-color: hsl(0, 0%, 100%);
}

.header.open .header__logo {
    visibility: hidden;
    opacity: 0%;
}

.header.open .header__links {
    visibility: visible;
}

.header.open .header__link {
    opacity: 100%;
}

.header.open span {
    background-color: hsl(0, 0%, 63%);
}

.header.open span:first-child {
    transform: rotate(45deg);
}

.header.open span:nth-child(2) {
    opacity: 0;
}

.header.open span:last-child {
    transform: rotate(-45deg);
}

/* body */
.mobile-img-hero,
.img-about {
    width: 100vw;
    min-width: 25rem;
}

.mobile-img-hero {
    position: absolute;
    z-index: 0;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.visible-img {
    z-index: 50;
    position: relative;
    opacity: 100%;
}

.hero-text {
    display: grid;
    justify-content: center;
}

.hero,
.about {
    min-width: 19.7rem;
    max-width: 34.7rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2.65rem;
    transition: all 500ms ease-in-out;
}

.hero {
    position: relative;
    z-index: 0;
    opacity: 0;
    grid-area: 1 / 1 / span 1 / span 1;
}

.visible-text {
    z-index: 50;
    opacity: 100%;
}

.hero-images {
    display: flex;
    position: relative;
}

.hero-images .arrow-left,
.hero-images .arrow-right {
    display: none;
    position: absolute;
    z-index: 100;
    bottom: 0;
    right: 0;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 0%);
    transition: all 200ms ease-in-out;
}

.hero-images .arrow-left:hover,
.hero-images .arrow-right:hover {
    cursor: pointer;
    background-color: hsl(0, 0%, 40%);
}

.hero-images .arrow-left img,
.hero-images .arrow-right img {
    width: 12px;
}

.hero-images .arrow-left {
    margin-right: 56px;
}

.call-to-action {
    display: inline-block;
    margin-top: 3rem;
    margin-bottom: 1rem;
    color: unset;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.75rem;
    transition: all 200ms ease-in-out;
}

.call-to-action:hover {
    color: hsl(0, 0%, 63%);
    stroke: hsl(0, 0%, 63%);
}

.attribution {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: unset; 
}

.desktop-img-hero {
    display: none;
}

/* Desktop */
@media screen and (min-width: 1100px) {
    h1 {
        font-size: 3rem;
    }

    img {
        max-width: unset;
    }

    .header__menu {
        display: none;
    }

    .header nav {
        width: 32%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .header__logo {
        position: static;
        transform: unset;
    }

    .header__links {
        display: flex;
        justify-content: space-between;
        width: 60%;
        position: static;
        visibility: visible;
        transform: unset;
    }

    .header__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2rem;
        height: 3rem;
        color:hsl(0, 0%, 100%);
        font-weight: 500;
        font-size: 1rem;
        opacity: 100%;
        border-bottom: 1.5px solid hsl(0, 0%, 100%, 0);
    }

    .header__link:hover {
        color: hsl(0, 0%, 100%);
        border-bottom: 1.5px solid hsl(0, 0%, 100%, 1);
    }

    .header,
    .wrapper {
        width: 100vw;
        min-width: 1100px;
        max-width: 250vh;
    }

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        box-shadow: 0px 5px 10px hsl(0, 0%, 63%);
    }

    .hero-images .arrow-left,
    .hero-images .arrow-right {
        right: -19.05%;
        width: 9.52%;
        height: 14.98%;

    }

    .hero-images .arrow-left img,
    .hero-images .arrow-right img {
        width: unset;
    }

    .hero-images .arrow-left {
        margin-right: 9.52%;
    }

    .hero-section {
        display: flex;
        width: 100%;
    }

    .hero-images {
        display: grid;
        flex: 1 1 auto;
        width: 58%
    }

    .desktop-img-hero {
        display: unset;
        position: relative;
        z-index: 0;
        width: 100%;
        height: 100%;
        grid-area: 1 / 1 / span 1 / span 1;
        opacity: 0;
        object-fit: cover;
        transition: opacity 500ms ease-in-out;
    }

    .visible-img {
        z-index: 50;
        position: relative;
        opacity: 100%;
    }

    .hero-text {
        flex: 1 1 auto;
        width: 42%;
    }

    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .img-about-div {
        width: 31%;
    }

    .img-about {
        width: 100%;
        height: 100%;
        min-width: unset;
        object-fit: cover;
    }

    .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        width: 38%;
        min-width: unset;
        max-width: unset;
    }

    .about h2 {
        width: 85%;
    }

    .about p {
        width: 85%;
    }

    .mobile-img-hero {
        display: none;
    }

}