@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');

/*  ======
    global
    ====== */

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 12px;
    font-family: 'Spartan', sans-serif;
    color: hsl(0, 0%, 0%);
}

body {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2.85rem;
}

h2 {
    margin-top: 0.35rem;
    margin-bottom: 0.35rem;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
}

p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: hsl(0, 0%, 63%);
}

img {
    max-width: 40rem;
}

/*  =========
    structure
    ========= */

/*header*/
.overlay {
    visibility: hidden;
    opacity: 0%;
    position: fixed;
    z-index: 0;
    top: 9.25rem;
    width: 100vw;
    min-width: 25rem;
    max-width: 40rem;
    height: calc(100vh - 9.25rem);
    background-color: hsla(0, 0%, 27%, 0.6);
    transition: all 300ms ease-in-out;
}

.header {
    position: absolute;
    z-index: 150;
    width: 100vw;
    min-width: 25rem;
    max-width: 40rem;
    height: 9.25rem;
    transition: all 300ms ease-in-out;
}

.header__menu {
    position: absolute;
    top: 50%;
    left: 9.33%;
    transform: translate(-50%, -50%);
}

.header__menu span {
    display: block;
    width: 20px;
    height: 2px;
    background-color: hsl(0, 0%, 100%);
    transition: all 300ms ease-in-out;
    transform-origin: 1.5px;
}

.header__menu span:not(:last-child) {
    margin-bottom: 4px;
}

.header__logo {
    visibility: visible;
    opacity: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 62px;
    transform: translate(-50%, -50%);
    transition: all 300ms ease-in-out;
}

.header__links {
    visibility: hidden;
    position: absolute;
    width: 65%;
    top: 50%;
    right: 40%;
    transform: translate(50%, -50%);
    display: flex;
    justify-content: space-between;
}

.header__link {
    text-decoration: none;
    font-weight: 700;
    font-size: 1.1rem;
    color: hsl(0, 0%, 0%);
    opacity: 0%;
    transition: all 300ms ease-in-out;
    
}

.header__link:hover {
    color: hsl(0, 0%, 40%);
}

/* header open */
.header.open .overlay {
    visibility: visible;
    opacity: 100%;
}

.header.open {
    position: fixed;
    background-color: hsl(0, 0%, 100%);
}

.header.open .header__logo {
    visibility: hidden;
    opacity: 0%;
}

.header.open .header__links {
    visibility: visible;
}

.header.open .header__link {
    opacity: 100%;
}

.header.open span {
    background-color: hsl(0, 0%, 63%);
}

.header.open span:first-child {
    transform: rotate(45deg);
}

.header.open span:nth-child(2) {
    opacity: 0;
}

.header.open span:last-child {
    transform: rotate(-45deg);
}

/* body */
.img-hero,
.img-about {
    width: 100vw;
    min-width: 25rem;
}

.img-hero {
    position: absolute;
    z-index: 0;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.visible-img {
    z-index: 50;
    position: relative;
    opacity: 100%;
}

.hero-text {
    display: grid;
}

.hero,
.about {
    min-width: 19.7rem;
    max-width: 34.7rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2.65rem;
    transition: all 500ms ease-in-out;
}

.hero {
    position: relative;
    z-index: 0;
    opacity: 0;
    grid-area: 1 / 1 / span 1 / span 1;
}

.visible-text {
    z-index: 50;
    opacity: 100%;
}

.hero-section {
    display: flex;
    position: relative;
}

.hero-section .arrow-left,
.hero-section .arrow-right {
    display: none;
    position: absolute;
    z-index: 100;
    bottom: 0;
    right: 0;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 0%);
    transition: all 200ms ease-in-out;
}

.hero-section .arrow-left:hover,
.hero-section .arrow-right:hover {
    cursor: pointer;
    background-color: hsl(0, 0%, 40%);
}

.hero-section .arrow-left img,
.hero-section .arrow-right img {
    width: 12px;
}

.hero-section .arrow-left {
    margin-right: 56px;
}

.call-to-action {
    display: inline-block;
    margin-top: 3rem;
    margin-bottom: 1rem;
    color: unset;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.75rem;
}

.call-to-action:hover {
    color: hsl(0, 0%, 63%);
    stroke: hsl(0, 0%, 63%);
}

.attribution {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: unset; 
}